/*----------------Arka Plan---------------- */

/*Siyah */
.mbg-black-01{
    background-color: black;
}
.mbg-black-02{
    background-color: #17181c;
}





/*----------------Color---------------- */

.mclr-gray-02{
    color: #b9babb;
}